/* dashboard.css (entrypoint) */
@import url("./styles/tokens.css");
@import url("./styles/base.css");
@import url("./styles/nav.css");
@import url("./styles/tabs/shared.css");
@import url("./styles/tabs/overview.css");
@import url("./styles/tabs/detailedRecap.css");
@import url("./styles/tabs/blocklist.css");
@import url("./styles/tabs/settings.css");
@import url("./styles/tabs/util.css");
@import url("./styles/tabs/schedule.css");
@import url("./styles/a11y.css");
